        <% if (currentUser && currentUser.isAdmin) { %>
        <div class="container mb-2">
            <div class="alert alert-danger">
                Admin View
            </div>
        </div>
        <% } %>
        <footer class="container-fluid text-center py-5 mt-auto footer" id="footer">
                <div class="row mx-auto footer-row">
                    <div class="col-12 col-md">
                        <i class="fas fa-dna footer-dna fa-2x mb-3"></i>
                        <h6>A better way to analyze.</h6>
                        <ul class="list-unstyled list-inline text-small footer-icon">
                            <li class="list-inline-item"><a href="https://github.com/tylersul/express-cyclone-analytics-web-app" target="_tab"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/CycloneMBB" target="_tab"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/cyclonembb/?hl=en" target="_tab"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Random feature</a></li>
                            <li><a href="#">Team feature</a></li>
                            <li><a href="#">Stuff for developers</a></li>
                            <li><a href="#">Another one</a></li>
                            <li><a href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="/newsletter">Sign Up For Email</a></li>
                            <li><a href="#">Resource name</a></li>
                            <li><a href="#">Another resource</a></li>
                            <li><a href="#">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="/about">Team</a></li>
                            <li><a href="#">Locations</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                    </div>
                </div>
        </footer>
    </wrapper>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
        <!-- CountUp -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js'></script>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </body>
</html>