html {
  min-height: 100%;
}

/* Body */
body {
  background: white;
}

a {
  color: #000;
}

/* Navbar */
.navbar {
  background-color: #116149;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-brand {
  color: #fff;
  font-size: 2em;
}

@media only screen and (max-width: 700px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.dna {
  color: #fff;
  padding-right: 0.25em;
}

.cardinal-icon {
  color: #951010;
}

/* Footer */
.footer-dna {
  color: #fff;
}

.footer-icon {
  font-size: 1.5em;
}

.id {
  font-size: 2em;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline /* Forms are on their own line by default */
}

#delete-comment {
  display: inline; /* same as above */
}

/* Footer */
#footer {
  background-color: #116149;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

#footer .row {
  max-width: 960px;
}

#footer a {
  color: rgb(255 255 255 / 50%);
  transition: ease-in-out color 0.15s;
}

/**** Page Specific ****/

/* Home Page */
#homeJumbotron {
  background: linear-gradient(to bottom, rgb(255 255 255 / 60%) 0%, rgb(255 255 255 / 90%) 100%), url("../images/hilton_magic.png");
  background-size: cover;
}

.jumbotron-title {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.cyclone-container {
  background-color: #951010;
}

#analyticsImg {
  max-width: 450px;
}

.btn-cyclone {
  background-color: #116149;
  color: #fff;
}

.btn-cyclone:hover {
  color: white;
}

.btn-cyclone-outline {
  color: #116149;
  border-color: #116149;
}

.btn-cyclone-outline:hover {
  color: #116149;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cyclone-text {
  color: #951010;
}

.mongo-text {
  color: #116149;
}

/* Utility Classes */
.bg-gray {
  background-color: #f1f4f8;
}

.grow:hover {
  transform: scale(1.1);        /* Card becomes 10% bigger on hover */
  transition: transform 0.2s;    /* Eased transition for smoother look */
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  body {
    background: #f5f5f5;
  }
}

@media only screen and (max-width: 700px) {
  #analyticsImg {
    max-width: 80%;
    text-align: center;
  }
}
